PORT=8787
KOC_API_BASE=http://127.0.0.1:8010
KOC_REQUEST_TIMEOUT_MS=12000
KOC_JOB_POLL_MS=26000

DOUYIN_OPEN_ENABLED=0
DOUYIN_API_BASE=https://open.douyin.com
DOUYIN_CLIENT_KEY=
DOUYIN_CLIENT_SECRET=
DOUYIN_OPEN_ID=
DOUYIN_ACCESS_TOKEN=
DOUYIN_REFRESH_TOKEN=
DOUYIN_USER_INFO_ENDPOINT=/oauth/userinfo/
DOUYIN_ITEM_BASE_ENDPOINT=/data/external/item/base/
DOUYIN_API_TIMEOUT_MS=8000
